<div class="container">
  <div class="row">
    <div class="mt-5 text-center">
       <h2 class="tituloApp textCenter">RESULTADO</h2>

      <div class="row">
        <div class="col-lg-12">
          <div class="fondoItem">
            <div class="flexContainer">
              <p class="resultado"> {{ resultado }}</p>
              <p class="estiloNumero">{{ bmi }}</p>
              <p class="interpretacion">{{ interpretacion }}</p>
            </div>
          </div>        
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-12">
          <button routerLink="/" class="btn btnprimary btn-lg btnCustom">Recalcular</button>
        </div>
      </div>

    </div>
  </div>
</div>
